---
layout: splash
author_profile: false
header: 
  image: /assets/images/header.png
intro: 
  - excerpt: 'Add content here' 
feature_row:
  - image_path: /assets/images/research.png
    title: "Research"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/teaching.png
    title: "Teaching"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/people.png
    title: "People"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
