---
layout: splash
author_profile: false
header: 
  image: /assets/images/header.png
intro: 
  - excerpt: 'Virtudal Data Lab is a cognitive neuroscience laboratory which is not physically bound to a location or lab space. We work together remotely using open or simulated data sets, teach by being invited for workshops or by creating online resources and are committed to open and reproducible workflows. Browse through our website to find out more!' 
feature_row:
  - image_path: /assets/images/user2.png
    title: "Research"
    url: "https://virtualdatalab.github.io/research/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/user2.png
    title: "Publications"
    url: "https://virtualdatalab.github.io/publications/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/user2.png
    title: "Teaching"
    url: "https://virtualdatalab.github.io/teaching/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}


